################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/pgsql.leoka_estetica_dev.properties
**/pgsql.leoka_estetica_test.properties
**/package-lock.json
 